<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../static/style.css?v3" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400,800,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    {% if title  %}
    <title>
        {{title}}
    </title>
    {% else %}
    <title>
        Ask Mate
    </title>
    {% endif %}
</head>
<body>
    <div class="header">
        <div class="inner_header">
            <a href="/">
                <div class="logo_container">
                    <h1>ASK<span>!MATE</span></h1>
                </div>
            </a>
            <ul class="navigation">
                <a href="">
                    <li>Log In</li>
                </a>
                <a href="">
                    <li>Register</li>
                </a>
                <a href="">
                    <li>Contact</li>
                </a>
            </ul>
        </div>
    </div>
    {% block content %}
    {% endblock content%}
</body>

</html>